<main>
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="slideshow text-center">
                <input type="file" name="fileUpload" id="fileUpload" accept="image/*" onchange="previewFile(event);" hidden required />
                <label for="fileUpload">
                    <img id="slide1" onmouseover="hovering(this)" onmouseout="nonhover(this)" src="/images/img1.webp" alt="1">
                </label>
            </div>
            <h2 id="editText"></h2>
        </div>
        <div class="reels">
            <div class="reelImg1">
                <input type="submit" id="submit1" formaction="/editor/filter1" hidden />
                <label for="submit1">
                    <img src="/images/img1.webp" alt="1">
                </label>
            </div>
            <div class="reelImg2">
                <input type="submit" id="submit2" formaction="/editor/filter2" hidden />
                <label for="submit2">
                    <img src="/images/img2.webp" alt="2">
                </label>
            </div>
            <div class="reelImg3">
                <input type="submit" id="submit3" formaction="/editor/filter3" hidden />
                <label for="submit3">
                    <img src="/images/img3.jpg" alt="3">
                </label>
            </div>
            <div class="reelImg4">
                <input type="submit" id="submit4" formaction="/editor/filter4" hidden />
                <label for="submit4">
                    <img src="/images/img4.jpg" alt="4">
                </label>
            </div>
            <div class="reelImg5">
                <input type="submit" id="submit5" formaction="/editor/filter5" hidden />
                <label for="submit5">
                    <img src="/images/img5.jpg" alt="5">
                </label>
            </div>
            <div class="reelImg6">
                <input type="submit" id="submit6" formaction="/editor/filter6" hidden />
                <label for="submit6">
                    <img src="/images/img6.jpg" alt="6">
                </label>
            </div>
        </div>
    </form>
</main>