<main>
    <div class="container">
        <div class="slideshow">
            <img id="slide1" onmouseover="hovering(this)" onmouseout="nonhover(this)" src="/images/img1.webp" alt="1">
        </div>
        <div id="slide2" onmouseover="hovering(this)" onmouseout="nonhover(this)" class="slideshow">
            <img src="/images/img2.webp" alt="2">
        </div>
        <div id="slide3" onmouseover="hovering(this)" onmouseout="nonhover(this)" class="slideshow">
            <img src="/images/img3.jpg" alt="3">
        </div>
        <div id="slide4" onmouseover="hovering(this)" onmouseout="nonhover(this)" class="slideshow">
            <img src="/images/img4.jpg" alt="4">
        </div>
        <div id="slide5" onmouseover="hovering(this)" onmouseout="nonhover(this)" class="slideshow">
            <img src="/images/img5.jpg" alt="5">
        </div>
        <div id="slide6" onmouseover="hovering(this)" onmouseout="nonhover(this)" class="slideshow">
            <img src="/images/img6.jpg" alt="6">
        </div>
        <h1 id="editText"></h1>
        <a class="previous" onclick="plus(-1)">&#10094;</a>
        <a class="next" onclick="plus(1)">&#10095;</a>
    </div>
    <div class="reels">
        <div class="reelImg1">
            <img src="/images/img1.webp" alt="1">
        </div>
        <div class="reelImg2">
            <img src="/images/img2.webp" alt="2">
        </div>
        <div class="reelImg3">
            <img src="/images/img3.jpg" alt="3">
        </div>
        <div class="reelImg4">
            <img src="/images/img4.jpg" alt="4">
        </div>
        <div class="reelImg5">
            <img src="/images/img5.jpg" alt="5">
        </div>
        <div class="reelImg6">
            <img src="/images/img6.jpg" alt="6">
        </div>
    </div>
</main>