<main>
  <div class="window">
    <div class="text">
      <h1>Edit your photos your way</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="/editor"><button type="button" class="btn btn-info">Let's Go!</button></a>
    </div>
    <div class="images">
      <div class="imgLeft">
        <img src="/images/img1.webp" alt="image 1">
        <img src="/images/img2.webp" alt="image 2">
        <img src="/images/img3.jpg" alt="image 3">
      </div>
      <div class="imgRight">
        <img src="/images/img4.jpg" alt="image 4">
        <img src="/images/img5.jpg" alt="image 5">
        <img src="/images/img6.jpg" alt="image 6">
      </div>
    </div>
  </div>
</main>
