<main>
  <div class="window">
    <div class="text">
      <h1>Edit your photos your way</h1>
      <p>Welcome to Photo Editor Application version 1.1 - 2022. We offer the ability to chose an image from our built in photo gallery, from which point you can add filters to desing your photo in any way you want.</p>
      <a href="/editor"><button type="button" class="btn btn-info">Let's Go!</button></a>
    </div>
    <div class="images">
      <div class="imgLeft">
        <img src="/images/img1.webp" alt="image 1">
        <img src="/images/img2.webp" alt="image 2">
        <img src="/images/img3.jpg" alt="image 3">
      </div>
      <div class="imgRight">
        <img src="/images/img4.jpg" alt="image 4">
        <img src="/images/img5.jpg" alt="image 5">
        <img src="/images/img6.jpg" alt="image 6">
      </div>
    </div>
  </div>
</main>
