<main>
    <div class="window">
        <h1>How To Edit a Photo</h1>
        <div class="instructions">
            <div class="insImg">
                <figure>
                    <img src="/images/choose.webp">
                    <figcaption><strong>Step 1 - Upload Your Photo: </strong>Upload your image, any image you want edit and desgin through our photo editor application.</figcaption>
                </figure>
                <figure>
                    <img src="/images/filter.webp">
                    <figcaption><strong>Step 2 - Apply Your Filter: </strong>Click the filter you want to add to your image from the options below your image.</figcaption>
                </figure>
                <figure>
                    <img src="/images/result.webp">
                    <figcaption><strong>Step 3 - See Your Results: </strong>Now that you have applied your chosen filter to your photo, you will now be brought to a final page that displays the result of your work.</figcaption>
                </figure>
            </div>
        </div>
    </div>
</main>