<main>
    <div class="window">
        <h1>How To Edit a Photo</h1>
        <div class="instructions">
            <div class="insImg">
                <figure>
                    <img src="/images/choose.webp">
                    <figcaption><strong>Step 1 - Select Your Photo: </strong>Select from our default image library, an image you want edit and desgin through our photo editor application.</figcaption>
                </figure>
                <figure>
                    <img src="/images/filter.webp">
                    <figcaption><strong>Step 2 - Apply Your Filter: </strong>From our pre built phot editing application you will now be presented with the option to add a filter to your selected image. From that point follow the steps to see your results.</figcaption>
                </figure>
                <figure>
                    <img src="/images/result.webp">
                    <figcaption><strong>Step 3 - See Your Results: </strong>Now that you have applied your chosen filter to your photo, you will now be brought to a final page that displays the result of your work.</figcaption>
                </figure>
            </div>
        </div>
    </div>
</main>