<main>
    <div class="window">
        <h1>How To Edit a Photo</h1>

        <div class="instructions">
           <!-- <div class="child">
                <img src="/images/choose.webp">
            </div>
            <div class="child">
                <strong>Step 1: </strong><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="instructions">
            <div class="child">
                <img src="/images/filter.webp">
            </div>
            <div class="child">
                <strong>Step 2: </strong><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="instructions">
            <div class="child">
                <img src="/images/result.webp">
            </div>
            <div class="child">
                <strong>Step 3: </strong><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div> -->

        <div class="insImg">
            <figure>
                <img src="/images/choose.webp">
                <figcaption><strong>Step 1: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
            </figure>
            <figure>
                <img src="/images/filter.webp">
                <figcaption><strong>Step 2: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
            </figure>
            <figure>
                <img src="/images/result.webp">
                <figcaption><strong>Step 3: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
            </figure>

        </div>
    </div>
</main>