<main>
    <div class="window">
        <h1>Here Are The Results of Your Photo</h1>
        <div class="resultWindow">
            <img id="results" src="">
        </div>
        <a href="/editor"><button type="button" id="resultBtn" class="btn btn-info">Edit another photo!</button></a>
    </div>
</main>