<main>
    <div class="window">
        <h1>Here is the results of your photo!</h1>
        <div class="resultWindow text-center" >
            <a href="/images/uploaded/{{url}}" title="Download your image!"><img id="results" src="/images/uploaded/{{url}}" class="smallImg"></a>
        </div>
        <a href="/editor"><button type="button" id="resultBtn" class="btn btn-info">Edit another photo!</button></a>
    </div>
</main>