header {
  background-color: rgb(255, 132, 0);
  padding: 10px;
}

header a{
  text-decoration: none;
  color: white !important;
}

body {
  background-color: #deeff5 !important;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px;
  background-color: rgb(255, 174, 0);
}

footer h1 {
  text-align: center;
  font-size: 120%;
}

.window {
  background-color: white;
  margin: auto;
  margin-top: 65px;
  width: 50%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
}

.windowMain {
  background-color: white;
  margin: auto;
  margin-top: 65px;
  width: 50%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
}

.text, .images {
  flex: 1;
}

.text h1 {
  padding: 30px;
  font-size: 275%;
}

.text p {
  padding: 30px;
  margin-bottom: 25px;
}

.text button {
  margin: 30px;
}

.imgLeft {
  width: 50%;
  float: left;
}

.imgRight {
  width: 50%;
  float: right;
}

.images img {
  margin-top: 20px;
  width: 75%;
  height: 75%;
  border: 2px solid black;
  border-radius: 10px;
}

.instructions figure {
  overflow: auto;
  margin-top: 20px;
}

figure img {
  float: left;
  width: 10%;
  height: 10%;
  margin: 20px 30px 30px 20px;
}

figure figcaption {
  margin-top: 30px;
}

.container {
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.slideshow {
  display: none;
}

.slideshow img {
  height: 500px;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.reels {
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

.reels div {
  display: block;
  float: left;
  width: 16.6666666667%;
}

.reels div img {
  width: 95%;
  height: 95%;
  border: 1px solid black;
  border-radius: 10px;
}

.reels div img:hover {
  width: 99%;
  height: 99%;
  filter: grayscale(50%);
}

.slideshow img:hover {
  filter: grayscale(50%);
}

.container h1 {
  display: none;
}

.resultWindow {
  height: 500px;
  object-fit: contain;
}

.smallImg {
  max-width: 100%;
  max-height: 100%;
}

#resultBtn {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 30px;
}

.blur {
  filter: blur(5px);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.drop-shadow{
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.greyscale{
  filter: grayscale(100%);
}

.sepia{
  filter: sepia(60%);
}

.invert{
  filter: invert(75%);
}